div.gameboard {
	width:680px;
	height:624px;
	margin:20px auto;
	padding:4px;
	border:2px solid #333;
	border-radius:4px;
	background-color: #999;
}

ul#log {
	width:698px;
	height:150px;
	margin:0;
	padding:0;
	border:1px solid #333;
	background:#FFF;
	overflow-x:hidden;
	overflow-y:scroll;
	list-style-type:none;
	font-size:12px;
}
li { padding:3px 5px; }
li span { font-weight:bold; }
li.game {
	font-style:italic;
	color:#555;
}
li.log {
	font-style:italic;
	color:#C00;
}

input { display:inline; }
input[type=submit] { margin:0; }
input[name=chat] {
	width:540px;
	margin-right:6px;
}

div.ping {
	margin-left:5px;
	font-size:12px;
	color:#555;
}

span { font-size:12px; }

.good { color:#0C0;}
.normal { color:#FE0; }
.bad { color:#C00; }


/* gameboard */
.hand {
	float:left;
	width:100%;
	height:62px;
	margin:2px auto;
	text-align:center;
}
.handcard {
	float:left;
	width:45px;
	height:62px;
	margin:0 auto;
	border-radius:3px;
background:#BBB;
}
.cardbox {
	float:left;
	width:56px;
	height:78px;
	margin:2px 6px;
	border-radius:4px;
background:#AAA;
}

.card {
	width:56px;
	height:78px;
}
.card  img {
	width:56px;
	height:78px;
	border-radius:4px;
}
