/* gameboard */
div.gameboard {
	float:left;
	width:680px;
	margin:20px auto;
	padding:8px;
	border:2px solid #333;
	border-radius:4px;
	background:#AAA;
}
/*
	width:60px;
	height:83px;
*/
td {
	min-width:60px;
	height:83px;
	padding:2px;
	border:1px dotted #333;
	border-radius:4px;
	text-align:center;
}

td img {
	width:60px;
	height:83px;
	border-radius:4px;
}
/* !gameboard */

ul#log {
	width:698px;
	height:150px;
	margin:0;
	padding:0;
	border:1px solid #333;
	background:#FFF;
	overflow-x:hidden;
	overflow-y:scroll;
	list-style-type:none;
	font-size:12px;
}
li { padding:3px 5px; }
li span { font-weight:bold; }
li.game {
	font-style:italic;
	color:#555;
}
li.log {
	font-style:italic;
	color:#C00;
}

input { display:inline; }
input[type=submit] { margin:0; }
input[name=chat] {
	width:539px; /* 1px ff */
	margin-right:6px;
}

div.ping {
	margin-left:5px;
	font-size:12px;
	color:#555;
}

span { font-size:12px; }

.good { color:#0C0;}
.normal { color:#FE0; }
.bad { color:#C00; }

/*
223 -> 60
310 -> 83
*/
